doctype
html(lang="zh-Hant-TW")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Kuan Portfolio
		link(rel="stylesheet", href="style.css")
	body
		header
		.hero
			h1 Learning and Enjoying Everything
			.intro
				p
					|Hi, I’m Kuan. Currently, I am a UI Designer and Front-end Developer. 
					|LIving in Taoyuan City, Taiwan. 
					|I love music , design and the all new technology of the world. 
					|And here is my portfolio website. :) 
				.keyVisual
					span.nextBtn
		.Portfolio
			h2 Portfolio
			.work
				.workPic
				.workDescribe
					h3 project:
					h4 Exchangerate Calculator
					h3 Detail:
					p 
						|Enter all your currency deals.
						|The app will show the current rate and count exchange rate difference automatically.
					h3 Design tool / Language:
					ul
						li
							span UI:
							|Sketch
						li
							span Code Editor:
							|VS Code
						li
							span Language:
							|HTML / SASS / JS / jQuery
					h3 API resource:
					a(href="")
						p openexchangerates.org

		footer
		script(src="")
			
				