doctype
html(lang="zh-Hant-TW")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Kuan Portfolio
		link(rel="stylesheet", href="style.css")
	body
		header
		.hero
			h1 Learning and Enjoying Everything
			.intro
				p
					|Hi, I’m Kuan. Currently, I am a UI Designer and Front-end Developer. 
					|LIving in Taoyuan City, Taiwan. 
					|I love music , design and the all new technology of the world. 
					|And here is my portfolio website. :) 
				.keyVisual
					span.nextBtn
		.portfolio
			h2 Portfolio
			.work
				.workPic
				.workDescribe
					h3 project:
					h4 Exchangerate Calculator
					h3 Detail:
					p
						|Enter all your currency deals.
						|The app will show the current rate and count exchange rate difference automatically.
					h3 Design tool / Language:
					ul
						li
							span UI:
							|Sketch
						li
							span Code Editor:
							|VS Code
						li
							span Language:
							|HTML / SASS / JS / jQuery
					h3 API resource:
					a(href="")
						p openexchangerates.org
			span.nextBtn
		.process
			.workList
				.work
					h4
					.workImg
					h3 Detail: 
					p
						|1!2! DATA Offering services including trend finding, 
						|insight looking, issue locating, business opportunities creating.
					h3 Project Type:
					p CIS, Web
				.work
					h4 Ji-Xian Sea Food
					.workImg
					h3 Detail:
					p JI-Xian provide you the freshest sea food on the web store.
					h3 Project Type:
					p Logo, Web
				.work
					h4 B-Solve
					.workImg
					h3 Project Type:
					p Logo, Business card
			span.nextBtn
		.personal
			.resume
				.selfie
				.introduction
					h3 Chen, Chia-Kuan
					p Taoyuan City, Taiwan
					h3 Creep Studio
					p 2016.03 - 2018.03
					h3 YuanZe University
					p
						|Information Communication
						br
						|Design Group
						br
						|Bachelor Degree
						br
						|2010 - 2014
					h3 YuanZe University
					p
						|Art and Design
						br
						|Program
						br
						|2012 - 2014
			.skills
				.frontEnd
					p HTML 85%
					.skillBar
					p Pug 40%
					.skillBar
					p CSS 85%
					.skillBar
					p SASS 55%
					.skillBar
					p Javascript 60%
					.skillBar
					p jQuery 70%
					.skillBar
					p git 45%
					.skillBar
					p React 25%
					.skillBar
				.designTools
					p Sketch 75%
					.skillBar
					p Photoshop 80%
					.skillBar
					p Illustrator 80%
					.skillBar
					p XD 65%
					.skillBar
					p Affinity Photo &amp; Designer 70%
					.skillBar
		footer
			div
				div
				.logo
				div
					span.mailIcon
					a.mail(href="") kuanchenstudio@gmail.com

		script(src="")
			
				