@import url('https://fonts.googleapis.com/css?family=Expletus+Sans:500,700|Muli:300,400,800')
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)
$fontSizeDefault: 16px
@mixin fontSet($fs,$fw,$ls,$c:color(light),$lh:1.4)
  font-size: $fs
  font-weight: $fw
  letter-spacing: $ls
  color: $c
  line-height: $lh
*
  +fontSet(0.95rem,400,0.12rem)
  font-family: 'Muli',"SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial", 'Noto Sans TC', sans-serif

HTML
  font-size: $fontSizeDefault
h1, h2 
  font-family: 'Expletus Sans',"SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial", 'Noto Sans TC', cursive
h1
  +fontSet(5.5rem,500,0.3rem,color(light),1.2)
  text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3)
  width: 80%
h2
  +fontSet(1.5rem,500,0.2rem,color(primary))
  margin: 25px 15px 40px
  background: -webkit-linear-gradient(color(primary) 0%,
  #008CE6 20%,
  #00A0E8 40%,
  color(secondary) 60%,
  #00C2DE 80%,
  #09D1D5 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
h3
  +fontSet(0.95rem,800,0.13rem)
h4
  +fontSet(1.25rem,300,0.15rem,color(secondary))
p,li,a,span
  +fontSet(0.88rem,300,0.1rem)
  list-style: none
  text-decoration: none
a
  color: color(secondary)
  text-decoration: none