.hero
  padding: 100px 7.5px 0
  h1
    margin: 80px 7.5px
    z-index: 2
  .intro
    width: calc(50% - 15px)
    position: absolute
    bottom: 0
    right: 7.5px
    margin-bottom: 120px
    padding: 0 15px
    &:before
      content: " "
      +size(403px,484px)
      position: absolute
      right: -45px
      bottom: -140px
      background-image: url(/src/img/heroVisual.svg)
      z-index: 0
  p
    margin: 0 auto 35px
  .nextBtn
    position: absolute
    +size(0,0)
    right: 150px
    bottom: -85px
    border-top: 15px solid color(light)
