.nextBtn
  +size(0,0)
  border-left: 10px solid transparent
  border-right: 10px solid transparent
  border-top: 15px solid color(primary)
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.2))
  &:hover
    filter: drop-shadow(1px 3px 5px rgba(0,0,0,0.1))
