.portfolio
  .works
    +size(calc(300% + 150px), 620px)
    margin-left: calc(-25px - (1250*2px))
    +flexRow
  .work
    +size(1200px, 620px)
    +flexRow
    align-items: center
    margin: 0 25px
    &>div
      width: 50%
      margin: 0 7.5px
    .workPicFrame
      +allCenter
      padding: 25px 0 75px
  .workpic
    +size(500px,371.52px) // default size, special size at below
    &:before
      content: " "
      +size(inherit,inherit)
      position: absolute
      top: 50px
      right: 45px
      +bgGradient($deg:-180deg)
      border-radius: 8px
    img
      object-fit: cover
      object-position: center center
      +size(inherit,inherit)
      border-radius: 5px
      box-shadow: 0 25px 26px -20px rgba(0,0,0,0.5)
  .workDescribe
    padding: 40px 20px
    border-radius: 5px
    h3
      margin: 0 auto 8px
    h4
      margin: 0 auto
    p
      margin: 0 auto
    br
      margin: 8px
    ul
      margin: 0
      padding: 0
    li
      margin: 2px auto
    span
      margin-right: 5px
    a
      margin: 0 auto
  .nextBtn
    display: block
    margin: 25px auto 50px
  .weather
    .workpic
      +size(320px,520px)
      &:before
        +bgGradientW
        top: 40px
        right: 45px
