.portfolio
  .works
    +size(calc(300% + 150px), 620px)
    margin-left: calc(-25px - (1250*0px))
    +flexRow
    align-items: center
    @include laptop-width
      margin-left: calc(-25px - (1010*1px))
    @include pad-width
      +size(calc(300% + 150px), 580px)
      margin-left: calc(-25px - (650*1px))
    @include phone-width
      +size(calc(300% + 150px), auto)
      margin-left: calc(-25px - (370*2px))
  .work
    +size(1200px, 620px)
    +flexRow
    align-items: center
    margin: 0 25px
    @include laptop-width
      +size(960px, 620px)
    @include pad-width
      +size(600px, 580px)
    @include phone-width
      +size(300px, auto)
      display: block
      margin: 0 auto
    &>div
      width: 50%
      margin: 0 7.5px
      @include phone-width
        width: 100%
        margin: 0 auto
    .workPicFrame
      +allCenter
      padding: 25px 0 75px
      @include phone-width
        padding: 25px 0
  .workpic
    +size(500px,371.52px) // default size, special size at below
    @include laptop-width
      +size(400px, calc(371.52/5*4px))
    @include pad-width
      +size(300px, 220px)
    @include phone-width
      +size(290px, 210px)
      margin-left: 5px
    &:before
      content: " "
      +size(inherit,inherit)
      position: absolute
      top: 50px
      right: 45px
      +bgGradient($deg:-180deg)
      border-radius: 8px
      @include laptop-width
        top: 45px
        right: 40px
      @include pad-width
        top: 25px
        right: 20px
      @include phone-width
        top: 10px
        right: 8px
    img
      object-fit: cover
      object-position: center center
      +size(inherit,inherit)
      border-radius: 5px
      box-shadow: 0 25px 26px -20px rgba(0,0,0,0.5)
  .workDescribe
    padding: 40px 20px
    border-radius: 5px
    h3
      margin: 0 auto 8px
    h4
      margin: 0 auto
    p
      margin: 0 auto
    br
      margin: 8px
    ul
      margin: 0
      padding: 0
    li
      margin: 2px auto
    span
      margin-right: 5px
    a
      margin: 0 auto
    @include phone-width
      padding: 20px 20px
      br
        margin: 2px
      ul
        margin: 0
        padding: 0
      li
        margin: 2px auto
      span
        margin-right: 5px
      a
        margin: 0 auto
  .nextBtn
    display: block
    margin: 25px auto 50px
    @include laptop-width
      margin: 20px auto 40px
    @include phone-width
      margin: 15px auto
  .weather
    .workpic
      +size(320px,520px)
      @include laptop-width
        +size(256px,416px)
      @include pad-width
        +size(210px,340px)
      @include phone-width
        +size(150px,240px)
      &:before
        +bgGradientW
        top: 40px
        right: 45px
        @include laptop-width
          top: 36px
          right: 42px
        @include pad-width
          top: 22px
          right: 25px
        @include phone-width
          top: 8px
          right: 10px
