// basic setting
@import normalize
@import color
@import responsive
@import font

// mixins that often use
@mixin size($w,$h)
  width: $w
  height: $h
@mixin allCenter
  display: flex
  align-items: center
  justify-content: center
@mixin flexRow
  display: flex
  flex-direction: row
  justify-content: center
@mixin Editing
  border: 1px solid #fff

// icon and button
@import iconBtn

// Basic layout
*
  box-sizing: border-box
  position: relative
html
  background-color: color(bgPrimary)
  width: 100%
  overflow-x: hidden
body
  background-image: url('/src/img/heroImg.jpg')
  background-position: center 0
  background-repeat: no-repeat
header
  padding: 40px 50px
  top: 0
  width: 100%
  @include laptop-width
    padding: 26px 35px
  @include pad-width
    padding: 23px 30px
  @include phone-width
    padding: 20px 25px
  nav
    margin: 0 auto
  .logo>svg
    +size(167px,36px)
    @include laptop-width
      +size(140px,30px)
    @include pad-width
      +size(140px,30px)
    @include phone-width
      +size(100px,25px)
footer
  +size(100%,60px)
  +bgGradient($deg:-45deg)
  @include phone-width
    height: 120px
  &>div
    margin: 0 auto
    width: 1200px
    +flexRow
    @include laptop-width
      width: 960px
    @include pad-width
      width: 600px
    @include phone-width
      width: 320px
      display: block
    &>div
      width: calc(50% - 15px)
      margin: 0 7.5px
      padding: 0 15px
      @include phone-width
        width: 100%
        padding: 1px 15px
  .logo
    +size(100px,21px)
    margin: 19px 0 17px
    @include phone-width
      margin: 25px 0 10px
  a.mail
    display: block
    color: color(light)
    margin: 22px 0 14px
    line-height: 1
    @include phone-width
      margin: 15px 0 10px
  .mailIcon
    +size(20px,14px)
    display: inline-block
    margin-right: 10px
    vertical-align: bottom
body>section
  +size(100%,auto)
  max-width: 1200px
  min-height: 750px
  margin: 0 auto 50px
  padding: 30px 0
  @include laptop-width
    max-width: 960px
    min-height: 680px
    margin: 0 auto 40px
    padding: 25px 0
  @include pad-width
    max-width: 600px
    height: auto
    min-height: 680px
  @include phone-width
    max-width: 320px
    height: auto
    min-height: 680px
    margin: 0 auto 30px
    padding: 20px 0

// Section Contents
@import hero
@import portfolio
@import cases
@import personal