@import normalize
@import color
@import font

@mixin size($w,$h)
  width: $w
  height: $h
@mixin allCenter
  display: flex
  align-items: center
  justify-content: center
@mixin flexRow
  display: flex
  flex-direction: row
  justify-content: center
@mixin Editing
  border: 1px solid #fff

@import iconBtn
*
  box-sizing: border-box
  position: relative
html
  background-color: color(bgPrimary)

body
  background-image: url(/src/img/heroImg.jpg)
  background-position: center 0
  background-repeat: no-repeat
header
  padding: 50px
  top: 0
  width: 100%
  nav
    margin: 0 auto

body>section
  +Editing
  +size(100%,80vh)
  max-width: 1200px
  min-height: 750px
  max-height: 1100px
  margin: 0 auto 50px
  padding: 50px 0

.hero
  padding: 100px 0 0
  h1
    margin: 100px 7.5px
    padding: 7.5px
    z-index: 2
  .intro
    width: calc(50% - 15px)
    position: absolute
    bottom: 0
    right: 7.5px
    margin: 50px 0 150px
    padding: 0 7.5px
    &:before
      content: " "
      +size(403px,484px)
      position: absolute
      left: 50%
      bottom: -150px
      background-image: url(/src/img/heroVisual.svg)
      z-index: 0
    p
      margin: 0 auto 35px
  .nextBtn
    position: absolute
    +size(0,0)
    right: 90px
    bottom: -110px
    border-top: 15px solid color(light)
.portfolio
  .work
    +flexRow
    align-items: center
    &>div
      width: 50%
      margin: 0 7.5px
    .workPicFrame
      +allCenter
      padding: 25px 0 75px
  .workpic
    object-fit: cover
    &:before
      position: absolute
      top: 50px
      right: 50px
      content: " "
      +bgGradient($deg:-180deg)
      border-radius: 5px
    img
      +size(inherit,inherit)
      border-radius: 5px
      box-shadow: 0 25px 26px -20px rgba(0,0,0,0.5)
  .workDescribe
    padding: 0 15px
    h3
      margin: 0 auto 8px
    h4
      margin: 0 auto
    p
      margin: 0 auto
    br
      margin: 8px
    ul
      margin: 0
      padding: 0
    li
      margin: 2px auto
    span
      margin-right: 5px
    a
      margin: 0 auto
  .nextBtn
    display: block
    margin: 80px auto
.exchangeCalc
  .workpic
    +size(500px,371.52px)
    &:before
      +size(500px,371.52px)

.cases
  .workList
    +flexRow
  .work
    +Editing
    width: calc(100%/3)
    margin: 10px 7.5px
    padding: 15px
  .workImg
    +size(100%,260px)
    border-radius: 5px
    overflow: hidden
    box-shadow: 0 25px 26px -20px rgba(0,0,0,0.50)
  .nextBtn
    display: block
    margin: 50px auto